.lesson {
	@apply grid md:grid-cols-2
}

.lesson * {
	@apply col-span-2
}

.lesson p:has(img) {
	@apply my-6 grid grid-cols-2 gap-4 w-fit mx-auto
}

.lesson img {
	@apply place-self-center max-h-72
}

.lesson p img:nth-child(odd) {
	@apply col-span-2
}

.lesson img:nth-child(odd):has(+ img), .lesson img+img {
	@apply col-span-1
}

.lesson h1,
.lesson h2,
.lesson h3,
.lesson h4,
.lesson h5,
.lesson h6 {
	@apply font-comic-cat mt-8 mb-2
	
}

.lesson ol {
	@apply list-decimal ml-12
}

.lesson ol ol {
	@apply list-[lower-alpha]
}

.lesson ol ol ol {
	@apply list-[lower-roman]
}

.lesson ul {
	@apply list-disc ml-12
}

.lesson li img {
	@apply h-48 rounded-sm mb-4
}

.lesson h1 {
	@apply text-4xl
}

.lesson h2 {
	@apply text-3xl
}

.lesson h3 {
	@apply text-2xl
}

.lesson h4 {
	@apply text-xl
}

.lesson h5 {
	@apply text-lg
}

.lesson-list-wrapper{
	@apply overflow-y-scroll relative max-h-[600px];
}

@screen md{

	.lesson-list-wrapper::-webkit-scrollbar{
		@apply mx-2;
		width: 10px;
	}
	.lesson-list-wrapper::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px grey; 
		border-radius: 10px;
	}
	 
	.lesson-list-wrapper::-webkit-scrollbar-thumb {
		@apply bg-secondary transition-colors hover:bg-accent-2;
		border-radius: 10px;
	}
}

.lesson-list-wrapper > ul > li > a:hover > span > svg{
	@apply fill-accent-1;
}

.resource-link:hover > svg, .resource-link:hover > span{
	@apply fill-secondary border-secondary;
} 